## Given 6 days, on day one you had rice, day two you had beans, day three you had eggs, day four you had cakes, day five you had soup, and day six you had fruits.
## 1a. repesent this data in python using the correct data structure/type. 1b. use this data to create a pandas series. 1c. display the series from fourth day to the last day

In [1]:
meals={
                    "day 1":"rice",
                    "day 2": "beans",
                    "day 3": "eggs",
                    "day 4":"cakes",
                    "day 5": "soup",
                    "day 6": "fruits",
                }
print(meals)

{'day 1': 'rice', 'day 2': 'beans', 'day 3': 'eggs', 'day 4': 'cakes', 'day 5': 'soup', 'day 6': 'fruits'}

In [3]:
import pandas as pd
import numpy as np

In [3]:
info = pd.Series(meals)
print(info)

day 1      rice
day 2     beans
day 3      eggs
day 4     cakes
day 5      soup
day 6    fruits
dtype: object

In [4]:
print(info[3:])

day 4     cakes
day 5      soup
day 6    fruits
dtype: object

## 2a. create two arrays of random number between 1 and 4 with a length of 10 values 2b. use both arrays to create a pandas series 2c. perform the following arithmetic operations on both arrays using addition, multiplication, division and subtraction

In [5]:
arr1=np.random.randint(1,4,10)
arr2=np.random.randint(1,4,10)
print(arr1)
print(arr2)

[2 2 1 3 1 1 1 1 2 1]
[1 3 2 1 3 2 1 2 3 3]

In [6]:
arr3=pd.Series(arr1,arr2)
print(arr3)

1    2
3    2
2    1
1    3
3    1
2    1
1    1
2    1
3    2
3    1
dtype: int32

In [7]:
np.add(arr1,arr2)

array([3, 5, 3, 4, 4, 3, 2, 3, 5, 4])

In [8]:
np.multiply(arr1,arr2)

array([2, 6, 2, 3, 3, 2, 1, 2, 6, 3])

In [9]:
np.divide(arr1,arr2)

array([2.        , 0.66666667, 0.5       , 3.        , 0.33333333,
       0.5       , 1.        , 0.5       , 0.66666667, 0.33333333])

In [10]:
np.subtract(arr1,arr2)

array([ 1, -1, -1,  2, -2, -1,  0, -1, -1, -2])

## 3a. you have 6 days, create a dataframe using a list of days as the column, and also a list of what you did during those days

In [11]:
days=["day 1","day 2","day 3","day 4","day 5","day 6"]
activity=["game","clean","camp","work out" ,"cook", "photography"]
activities=list(zip(days,activity))
df= pd.DataFrame(activities,columns=["days","activity"])
print(df)

    days     activity
0  day 1         game
1  day 2        clean
2  day 3         camp
3  day 4     work out
4  day 5         cook
5  day 6  photography

## 4a. create a csv file to show what maximum of 10 persons like and dislikes, with a dataset including the following criterias, a. name b. gender c. age d. country e. likes f. dislikes

## hence your likes and dislikes should include random text such as a. football b. singing c. dancing d. coding

In [40]:
project= pd.read_csv("project.csv")
print(project)

     Name  Gender  Age    Country    Likes Dislikes
0   Grace  female   19       Togo  fotball   coding
1   Helen  female   39   Tanzania  singing  fotball
2  Elijah    male   21      Niger  fotball  dancing
3   Perpe  female   19  Mdagascar  fotball  singing
4    Akin    male   24    Nigeria  dancing  singing
5   Amina  female   17    Algeria   coding  singing
6   Angel  female   19    Senegal  fotball   coding
7  Adonai    male   29      Ghana   coding  dancing
8   Sandy  female   20    Nigeria  singing   coding

## 4b. create a dataframe with this data using pandas 4c. analyse the dataset with pandas by filtering the data by people who like just football 4d. repeat the process by filtering the people who dislike football as well 4e. print out a nice statement dynamically with python as follows with all the person that like and dislikes football eg. 'Precious likes football', 'James dislikes football'

In [39]:
df2=pd.DataFrame(project)
print(df2)

     Name  Gender  Age    Country    Likes Dislikes
0   Grace  female   19       Togo  fotball   coding
1   Helen  female   39   Tanzania  singing  fotball
2  Elijah    male   21      Niger  fotball  dancing
3   Perpe  female   19  Mdagascar  fotball  singing
4    Akin    male   24    Nigeria  dancing  singing
5   Amina  female   17    Algeria   coding  singing
6   Angel  female   19    Senegal  fotball   coding
7  Adonai    male   29      Ghana   coding  dancing
8   Sandy  female   20    Nigeria  singing   coding

In [88]:
lovers=df2.query("Likes=='football'")
print(lovers)
football_lovers=lovers.filter(like="football")
print(football_lovers)

Empty DataFrame
Columns: [Name, Gender, Age, Country, Likes, Dislikes]
Index: []
Empty DataFrame
Columns: []
Index: []

## Apperantely given the data structure below, an error was found, the coutries are supposed to be ranked alphabetically by thier keys. as the values of each countries are ordered alphabetically.
## a. your task is to create a dataframe with this dictionary. NOTE: DO NOT MODIFY THE DICTIONARY b. correctly re-arrange the keys alphabetically in their correct irder

## countries = { 'third': ['America', 'Australia'], 'first': ['Italy', 'India'], 'second': ['Nigeria', 'New Zealand'] }

In [27]:
countries = { 'third': ['America', 'Australia'], 'first': ['Italy', 'India'], 'second': ['Nigeria', 'New Zealand'] }
df3=pd.DataFrame(countries)
print(df3)

       third  first       second
0    America  Italy      Nigeria
1  Australia  India  New Zealand

In [30]:
df3.columns = ['first', 'second', 'third ']
print(df3)

       first second       third
0    America  Italy      Nigeria
1  Australia  India  New Zealand

## 6 create a dataframe showing the scores and average score for jessica, bright and greatman in the following subjects, Maths, English and Physics. you are to use the exact procedures below to achieve this
## a. the scores and average scores for each subject should be between 50 and 100 b. this scores are to be generated with numpy c. clearly display the subject on the correct column and the index using the names of the 3 student d. assuming a new student came on board, create a fresh dataframe for this student by name bob using the same process as follows by jessica, bright and greatman e. add these two dataframes together, NOTE: bob should come last d. sort these dataframe by the average score f. group this dataset by student who are above and below the average score of 60

In [52]:
subjects ={"maths":np.random.randint(50,100,3),
"english":np.random.randint(50,100,3),
"physics":np.random.randint(50,100,3)}
df6=pd.DataFrame(subjects,columns=("maths","english","physics"),index=("jessica","bright","greatman"))
print(df6)
subjects ={"maths":np.random.randint(50,100,1),
"english":np.random.randint(50,100,1),
"physics":np.random.randint(50,100,1)}
df7=pd.DataFrame(subjects,['bob'])
df8=[df6,df7]
combined_df=pd.concat(df8)
print('')
print(combined_df)

          maths  english  physics
jessica      62       70       61
bright       74       69       97
greatman     86       69       77

          maths  english  physics
jessica      62       70       61
bright       74       69       97
greatman     86       69       77
bob          76       55       67

In [53]:
combined_df.mean()

maths      74.50
english    65.75
physics    75.50
dtype: float64

## TASK
## a. read this dataset using pandas
## b. we dont care about the extraction_day and extraction_time, do not display this in the dataframe
## NOTE: DO NOT MODIFY THE DATASET FROM THE CSV FILE
## c. check the memory usage of this dataset, reduce the bandwidth in any possible way you can
## d. display the first five and last five data in the dataframe
## e. randomly display some part of the data in the dataframe

In [15]:
diet =pd.read_csv("diets.csv")

In [13]:

diets=diet.drop(['Extraction_day'], axis=1, inplace=False)

In [17]:
diets.drop(['Extraction_time'], axis=1, inplace=False)

,Diet_type,Recipe_name,Cuisine_type,Protein(g),Carbs(g),Fat(g)
0,paleo,Bone Broth From 'Nom Nom Paleo',american,5.22,1.29,3.20
1,paleo,"Paleo Effect Asian-Glazed Pork Sides, A Sweet ...",south east asian,181.55,28.62,146.14
2,paleo,Paleo Pumpkin Pie,american,30.91,302.59,96.76
3,paleo,Strawberry Guacamole recipes,mexican,9.62,75.78,59.89
4,paleo,"Asian Cauliflower Fried ""Rice"" From 'Nom Nom P...",chinese,39.84,54.08,71.55
...,...,...,...,...,...,...
7801,dash,Brown Butter-Sunchoke Soup With Brussels Sprou...,italian,85.20,288.14,137.15
7802,dash,Make-Your-Own-Salad,american,141.98,123.18,323.50
7803,dash,Luis Buñuel Dry Martini,world,0.01,0.39,0.00
7804,dash,Cornflake Semi-Fried Chicken Tenders,american,155.38,239.88,260.84
7805,dash,Emeril's Classic Manhattan,american,0.02,0.83,0.00

In [25]:
diet.info(verbose=False, memory_usage='deep')
new_diet= diets[['Diet_type', 'Recipe_name','Protein(g)','Carbs(g)','Fat(g)']]
new_diet.info(verbose=False, memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7806 entries, 0 to 7805
Columns: 6 entries, Diet_type to Fat(g)
dtypes: float64(3), object(3)
memory usage: 1.8 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7806 entries, 0 to 7805
Columns: 5 entries, Diet_type to Fat(g)
dtypes: float64(3), object(2)
memory usage: 1.3 MB

In [26]:
diet.head(5)

,Diet_type,Recipe_name,Cuisine_type,Protein(g),Carbs(g),Fat(g)
0,paleo,Bone Broth From 'Nom Nom Paleo',american,5.22,1.29,3.20
1,paleo,"Paleo Effect Asian-Glazed Pork Sides, A Sweet ...",south east asian,181.55,28.62,146.14
2,paleo,Paleo Pumpkin Pie,american,30.91,302.59,96.76
3,paleo,Strawberry Guacamole recipes,mexican,9.62,75.78,59.89
4,paleo,"Asian Cauliflower Fried ""Rice"" From 'Nom Nom P...",chinese,39.84,54.08,71.55

In [24]:
diet.tail(5)

,Diet_type,Recipe_name,Cuisine_type,Protein(g),Carbs(g),Fat(g)
7801,dash,Brown Butter-Sunchoke Soup With Brussels Sprou...,italian,85.20,288.14,137.15
7802,dash,Make-Your-Own-Salad,american,141.98,123.18,323.50
7803,dash,Luis Buñuel Dry Martini,world,0.01,0.39,0.00
7804,dash,Cornflake Semi-Fried Chicken Tenders,american,155.38,239.88,260.84
7805,dash,Emeril's Classic Manhattan,american,0.02,0.83,0.00

In [27]:
diet.sample(5)

,Diet_type,Recipe_name,Cuisine_type,Protein(g),Carbs(g),Fat(g)
2677,vegan,Recipe: Roasted Sweet Potato Slices with Cilan...,italian,39.80,229.88,151.44
2155,vegan,Beetroot & squash Wellingtons with kale pesto,british,125.44,610.67,332.90
4838,mediterranean,Piedmontese peppers,mediterranean,46.08,59.35,88.77
7193,dash,Milky Way Cake,american,78.91,1041.58,401.55
4109,keto,keto Low Carb Hot Tuscan Chicken casserole #ke...,italian,111.85,23.42,244.27